bin/
obj/
dist/
altbuild/
.dotnet-home/

PartLifecycleDesktop/bin/
PartLifecycleDesktop/obj/
PartLifecycleDesktop/dist/
PartLifecycleDesktop/altbuild/

PartLifecycleDesktop/digikey-api.json
PartLifecycleDesktop/mouser-api.json
digikey-api.json
mouser-api.json

*.user
*.suo
*.xlsx
